.logo-style{
    margin-top: 26px;
    margin-left: 88px;
    width: 65px; ;
    height: 65px; ;
    border-radius: 50%;
}

.baground-color{
    background-color: rgb(21, 34, 89);
   
}
.menu-bar{
    width: 241px;
    height: 641px;
}
.hr{
    color:rgb(63, 72, 114); margin-top: 15px;
}
.manue1{
    color: white; margin-left: 50px; margin-top: 10px;
}
.menu-style{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
}
.menu-last-link{
    padding-top: 110px;
    color: white;
    margin-left: 20px;
}

.menu-text-style:hover{
    background-color:rgb(80, 156, 219) ;
    border-radius: 4px;
    cursor: pointer;
}